<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebStore</title>
</head>
<body style="font-family:verdana">

    <p>Home Controller - View Index!</p>
    <p><a href="~/Home/Employees">Employee list</a></p>

</body>
</html>
